/* Colors */
@import '../../assets/styles/colors';
/* CartIcon */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
#lblWishCount {
    font-size: 8px;
    background: $carticon-background;
    color: $secondary;
    padding: 4px 6px;
    vertical-align: top;
    margin-left: -10px;
}