/* Colors */
@import '../../assets/styles/colors';

#tortasytartas {
    .productos {
        position: relative;
        padding-top: 15vh;
        text-align: center;
        .productos-title {
            padding: 0;
            margin: 0;
            h2 {
                font-family: 'Major Mono Display', monospace;
                display: inline-block;
                font-size: 1.5rem;
                letter-spacing: .2em;
                color: $primary;
                font-weight: 700;
                position: relative;
                padding-bottom: 0.6rem;
            }
            p {
                color: $primary;
                padding: 0 0.3rem;
            }
        }
        .product-grid {
            border: none;
            border-radius: 0;
            .card-img-top {
                border-radius: 0;
            }
            h4 {
                background-color: $primary;
                color: $secondary;
                margin: 0;
                font-size: 1.4rem;
            }
            .precio-producto {
                background-color: $dbackground;
                h5 {
                    font-size: 1.15rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px ) {
    .productos {
        .product-grid {
            h4 {
                font-size: 0.9rem;
            }
            .precio-producto {
                h5 {
                    font-size: 0.75rem;
                    margin-bottom: 5px;
                }
                .btn {
                    padding: 0.5rem;
                    font-size: 0.90rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px ) {
    .productos {
        .product-grid {
            h4 {
                font-size: 1.2rem;
            }
            .precio-producto {
                h5 {
                    font-size: 1rem;
                    margin-bottom: 5px;
                }
                .btn {
                    padding: 0.8rem 1rem;
                    font-size: 1rem;
                }
            }
        }
    }
}