/* Colors */
@import 'colors';
/* Home */
.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    .row {
        min-height: 600px;
        height: calc(100vh);
        .phrase {
            top: 5%;
            background: rgba(255, 255, 255, 0.800);
            padding: 1.5rem;
        }
    }
    h1 {
        font-family: 'Stalemate', cursive;
        color: $primary;
        font-size: 5rem;
    }
    h2 {
        font-family: 'Open Sans Condensed', sans-serif;
        color: $primary;
        font-size: 2rem;
    }
}
/* Section */
.section {
    padding: 3em 0;
    background: $background;
    .section-title {
        padding: 0;
        margin: 0;
        h2 {
            font-family: 'Major Mono Display', monospace;
            display: inline-block;
            font-size: 1.5rem;
            letter-spacing: .2em;
            color: $primary;
            font-weight: 700;
            position: relative;
            padding-bottom: 0.6rem;
        }
        p {
            color: $primary;
            padding: 0 0.3rem;
        }
    }
}
.bg-d {
    background: $dbackground;
}
/* Productos Destacados */
.carousel {
    display: flex;
    .card {
        border: none;
        border-radius: 0;
        background-color: $secondary;
        .card-img-top {
            border-radius: 0;
        }
        h4 {
            background-color: $primary;
            color: $secondary;
            margin: 0;
        }
        .torta-precio {
            color: $primary;
            background-color: $dbackground;
            h5 {
                margin-bottom: 0;
            }
        }
    }
}

/* Media Queries */
@media only screen and (min-width: 768px ) {
    .banner h1 {
        font-size: 6rem;
    }
}
@media only screen and (min-width: 1024px ) {
    .banner h1 {
        font-size: 8rem;
    }
}
@media only screen and (min-width: 1440px ) {
    .banner h1 {
        font-size: 9rem;
    }
}
@media only screen and (min-width: 2560px ) {
    .banner h1 {
        font-size: 10rem;
    }
}
@media only screen and (min-width: 480px ) and (max-width: 769px) {
    .carousel {
        .card {
            h4 {
                font-size: 0.8rem;
            }
            .torta-precio {
                h5 {
                    font-size: 0.7rem;
                }
                .btn {
                    font-size: 0.7rem;
                    padding: 0.5rem;
                }
            }
        }
    }
}
@media only screen and (min-width: 770px ) and (max-width: 991px) {
    .carousel {
        .card {
            h4 {
                font-size: 0.9rem;
            }
            .torta-precio {
                h5 {
                    font-size: 0.8rem;
                }
                .btn {
                    font-size: 0.8rem;
                    padding: 0.5rem;
                }
            }
        }
    }
}
@media only screen and (min-width: 992px ) and (max-width: 1199px) {
    .carousel {
        .card {
            h4 {
                font-size: 1.3rem;
            }
            .torta-precio {
                h5 {
                    font-size: 1rem;
                }
                .btn {
                    font-size: 1rem;
                }
            }
        }
    }
}